.about-left {
    width: 31rem;
    margin-left: -2.5rem;
}

.add-to-cart {
    height: 3.5rem;
    width: 22rem;
    margin-right: 0.5rem;
}

.make-offer {
    height: 3.5rem;
    width: 22rem;
}

.btn-right {
    width: 45rem;
    margin-left: -2.5rem;
}